<mat-toolbar color="primary">
  <mate-toolbar-row fxLayout="row">
    <span class="title-center">Signup</span>
  </mate-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="signupForm">
    <div fxFlex fxLayoute="column">
      <p>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required />
          <mat-error
            *ngIf="
            signupForm.controls.name.invalid &&
            (signupForm.controls.name.dirty ||
              signupForm.controls.name.touched)
            "
          >
            <span *ngIf="signupForm.controls.name.errors.required"
              >This field is mandatory.</span
            >
            <span *ngIf="signupForm.controls.name.errors.patter"
              >This field is invalid.</span
            >
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
          <mat-error
            *ngIf="
            signupForm.controls.email.invalid &&
            (signupForm.controls.email.dirty ||
              signupForm.controls.email.touched)
            "
          >
            <span *ngIf="signupForm.controls.email.errors.required"
              >This field is mandatory.</span
            >
            <span *ngIf="signupForm.controls.email.errors.patter"
              >This field is invalid.</span
            >
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Contact Numper</mat-label>
          <input matInput formControlName="contactNumber" required />
          <mat-error
            *ngIf="
              signupForm.controls.contactNumber.invalid &&
              (signupForm.controls.contactNumber.dirty ||
                signupForm.controls.contactNumber.touched)
            "
          >
            <span *ngIf="signupForm.controls.contactNumber.errors.required"
              >This field is mandatory.</span
            >
            <span *ngIf="signupForm.controls.contactNumber.errors.patter"
              >This field is invalid.</span
            >
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required />
          <mat-error
            *ngIf="
            signupForm.controls.password.invalid &&
            (signupForm.controls.password.dirty ||
              signupForm.controls.password.touched)
            "
          >
            <span *ngIf="signupForm.controls.password.errors.required"
              >This field is mandatory.</span
            >
            <span *ngIf="signupForm.controls.password.errors.patter"
              >This field is invalid.</span
            >
          </mat-error>
        </mat-form-field>
      </p>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    [disabled]="!signupForm.dirty"
  >
    Signup
  </button>
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
