<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="titile-center">Change Password</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="changePasswordForm">
        <div fxFlex fxLayout="column">

            
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>old Password</mat-label>
                  <input matInput formControlName="oldPassword" type="password" reqired>
                  <mat-error *ngIf="
                  changePasswordForm.controls.oldPassword.invalid &&
                  (changePasswordForm.controls.oldPassword.dirty ||
                    changePasswordForm.controls.oldPassword.touched)
                ">
                    <span *ngIf="changePasswordForm.controls.oldPassword.error">This field is mandatory.</span>
                </mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="newPassword" type="password" reqired>
                    <mat-error *ngIf="
                    changePasswordForm.controls.newPassword.invalid &&
                    (changePasswordForm.controls.newPassword.dirty ||
                      changePasswordForm.controls.newPassword.touched)
                  ">
                        <span *ngIf="changePasswordForm.controls.newPassword.error">This field is mandatory.</span>
                    </mat-error>
                  </mat-form-field>

                
    
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmPassword" type="password" reqired>
                    <mat-error *ngIf="
                    changePasswordForm.controls.confirmPassword.invalid &&
                    (changePasswordForm.controls.confirmPassword.dirty ||
                      changePasswordForm.controls.confirmPassword.touched)
                  ">
                        <span *ngIf="changePasswordForm.controls.confirmPassword.error">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
    
                <mat-hint *ngIf="validateSubmit() ">
                    <span>NewPassword & Congirm Password does not match.</span>
                </mat-hint>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button
      mat-raised-button color="primary" type="submit"
      (click)="handleChangePasswordSubmite()"
      [disabled]="!(changePasswordForm.controls.confirmPassword.dirty ||
      changePasswordForm.controls.confirmPassword.touched) || validateSubmit()">Update</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
  </mat-dialog-actions>